* {
  box-sizing: border-box;
}

body {
  position: relative;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
  color: #333333;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 0 2rem;
  background-color: #787878;
  background-image: linear-gradient(to right, #787878, white);
}

h2 {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  margin: 1em 0 0.25em
}

footer {
  padding: 2rem 0 0;
  text-align: center;
}

.home-header-container {
  display: flex;
  height: 20rem;
  width: 100%;
  position: relative;
}

.title-nav {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 70%;
  align-items: center;
}

.title-nav img {
  width: 15%;
}

#homepage-logo {
  /*height: auto;*/
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}

.navigation-class {
  list-style-type: none;
  display: flex;
  padding: 0;
  width: auto;
}

.navigation-class li {
  display: inline-block;
  margin: 0 7px;
}

nav a {
  text-decoration: none;
  font-size: auto;
  background-color: none;
  box-shadow: none;
  color: #333333;
  transition: box-shadow background-color color font-size;
}

nav a:hover {
  box-shadow: 0 0 10px 5px #333333;
  background-color: #333333;
  color: white;
}

.column-section {
  display: flex;
  margin-top: 5rem;
}

article .row {
  padding: 1rem 0 1rem 0;
}

.container {
  width: 100%;
  padding: 0 3rem 0;
}

.container img {
  width: 30%;
  height:auto;
}

aside {
  width: 30%;
  padding: 2rem 1rem 0 1rem;
  align-items: center;
}

.intro {
  width: 85%;
  padding: 0 0 0 3rem;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

.general-info {
  background-color: #787878;
  background-image: linear-gradient(to top, #787878, white);
}

.address {
  padding: 0 0 0 1rem;
  font-size: 0.7rem;
}

.address li {
  list-style-type: none;
}

aside .container {
  padding: 0 0 0 2rem;
  width: 12rem;
}

.general-info p {
  font-size: 0.7rem;
  word-wrap: none;
  padding: 0;
}

.secondary-logo {
  width: 10rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
}

.about-title {
  position: absolute;
  left: 0;
  padding: 2rem 1rem 2rem 2rem;
  width: 80%;
}

.navigation-about {
  list-style-type: none;
  display: flex;
  padding: 0;
  width: auto;
  position: absolute;
  top: auto;
  bottom: 4rem;
}

.navigation-about li {
  display: inline-block;
  margin: 0 7px;
}

.policy {
  background-color: #787878;
  background-image: linear-gradient(to right, #787878, white);
  padding: 0.1rem 2rem 1rem 2rem;
  margin: 3rem 0 1rem 0;
}

.policy-title {
  color: white;
}

.about-stp {
  padding: 0 2rem 0 2rem;
}

.about-stp h2 {
  margin-bottom: 1.5rem;
}

#about-banner {
  width: 100%;
}
